body {margin: 0%;
    padding:0;
    }
.splash{
  position: fixed;
  top: 0;
  background-color:  #00d2d3; 
  width: 100%;
  height: 100%;
  text-align: center;
  }
  .logo {
      top: 45%;
      color: white;   
      font-family: 'Carter One', cursiva;
      -webkit-animation-name: grow;
      -webkit-animation-duration: 2s; 
      animation-name: grow;
      animation-duration: 2s;
      /* border-radius: 100%; */
      position: relative;
      animation-fill-mode: both;
  }
  @-webkit-keyframes grow {    
      from{ font-size: 2em;}
      to{ font-size: 5em;}
  }

  @keyframes grow {
      from{font-size: 2em;}
      to{font-size: 5em;}
  }

