 html, body {
  height: 100%;
  margin: 0;
  padding: 0px;
  padding-bottom: 0;
  box-sizing: border-box;
  }
  .header{ 
  position: fixed;
  width: 100%;
  height: 8%;
  top: 0;
  padding: 0;
  margin: 0% ;
  padding: 5px;
  background-color: #00d2d3;
  text-align: center;
  }
  h1 {
  -webkit-margin-before: 0.07em;
  -webkit-margin-after: 0.07em;
  top: 0;
  color: white;
  font-family: 'Carter One', cursiva;
  } 
.search{
  background-color: #00d2d3;
  color: white;
  height: 15%;
  width: 100%;
  margin: 0% ;
  padding-right: 3%;
  padding-top: 0;
  position: fixed; 
  bottom: 0; 
}
.container-restaurants{
  padding: 5px ;
  height: 80%;
  width: 88%;
  padding-top: 13% ;
  margin-bottom: 13% ;
  margin: 1% auto;
}
.restaurant{
  width: 95%;
  height: 25%;
  margin: auto;
  margin-top: 15px;
  padding: 5px;
  background-color: white;
  box-shadow: 1px 2px 2px 1px  #aaaaaa;
}
.restaurant-info{
  width: 70% ;
  float: right;
  margin: 0%;
  padding: 0%;
}
.restaurant-img{
  height: 100%; 
  width: 30%;
  float: left;
  margin: 0%;
}
.img-rest{
  height: 100%;
  width: 100%;
}
.list-info-restaurant{
  list-style: none;
  margin-right: 0%;
  margin-left: 0%;
  padding-right: 0%;
  padding-left: 4%;
  width: 60%;
  font-family: 'Fira Sans', sans-serif;
  float : left;
}
.name-restaurant{
  font-family: 'Calabacín', cursivo;
}
.list-restaurants-types{
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 90%;
  height: 30%;
  float: left;
}
.li-restaurant-types{
  padding: 1%;
  text-align: center;
  margin-top: 0%;
  float: left;
  height: 80%;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}
.li-restaurant-types:hover{
  background-color:   orange;
}
.string-search{
  margin-top: 0;
  float: left;
  width: 60%;
  height: 40%;
  border: none;
  font-size: 20px;
}
.search-restaurants{
  float: right;
  width: 30%;
  height: 50%;
  border: none;
  background-color: orange;
}
.restaurant-categories{
  color: black;
  font-family: 'Nunito', sans-serif;
}
.more-info-restaurant{
  padding: 20px;
  height: 5px;
  width: 10px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  float: right;
  box-sizing: border-box;
}
  @media screen and (min-width:847px) {
.search{
  position: relative; 
  margin-top: 9%; 
  width: 61%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 2px 2px #aaaaaa;
} 
.container-restaurants{
  padding-top: 2% ;
  margin-bottom: 3% ;
  margin: 1% auto;
  height: 70%;
  width: 65%;
  }
  .restaurant-categories{
    display: block;
  }
  .search-restaurants{
    width: 10%;
    height: 50%;
    padding-bottom: 0.5%;
  }
  .list-restaurants-types{
    width: 60%;
    height: 50%;
    border: 2px solid white;
    padding-bottom: 0.5%;
  }
  .string-search{
    width: 25%;
    height: 50%;
    padding-bottom: 0.5%;
  }
  .li-restaurant-types{
    padding-left: 2.5%;
    padding-bottom: 0%;
    height: 100%;
  }
}
